/* Common css, whole document */
* {
  font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  padding-top: 5px;
}

/* Media queries for mobile devices */
@media only screen and (max-width: 499px) {
  .c-head {
    font-size: 2em;
  }
  .s-head {
    font-size: 3em;
  }
  .carousel-caption p {
    font-size: 0.75em;
  }
  .mapouter, .gmap_canvas {
    max-width: 340px;
  }
}

@media only screen and (min-width: 500px) {
  .c-head {
    font-size: 3em;
  }
  .s-head {
    font-size: 3em;
  }
  .carousel-caption p {
    font-size: 1em;
  }
}
@media only screen and (min-width: 768px) {
  .c-head {
    font-size: 4em;
  }
  .s-head {
    font-size: 3em;
  }
  .carousel-caption p {
    font-size: 1em;
  }
}
/* Background color for containers */
.cont-bg {
  background-color: rgba(255, 255, 255, 0.9);
  display: block;
  border-radius: 5px;
}

/* Navbar */
#logo-img {
  width: 60px;
  height: 40px;
}

/* Carousel index.html */
.carousel-caption {
  text-shadow: 1px 1px 1px #000;
  position: absolute;
  top: 30%;
  z-index: 20;
}
/* Jumbotron index.html */
.indexjumbo {
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 0;
}

/* Site headers tietoa, yhteys, joukkue.htmls */
.sivutheader {
  text-align: center;
  padding-top: 80px;
}

/* Otteluohjelma table */
.table-responsive {
  max-width: 900px; 
  margin: 0 auto;
}
#cohj {
  background-color:rgba(204, 204, 204, 0.8);
  color: #000;
}
#ohj {
  background-color: rgba(226, 226, 226, 0.9);
}

/* topimage joukkue.html */
.joukkuekuva {
  width: 99%;
  margin: 0 auto;
}
.joukkuekuva img {
  width: 100%;
}

/* Players listed */
.phead {
  padding-top: 80px;
  text-align: center;
  padding-bottom: 20px;
  font-size: 3em;
}
.players {
  margin: 0 auto;
  width: 90%;
  padding: 10px;
}
.rounded-circle {
  margin-bottom: 20px;
}
/* Border for players */
.col-lg-4 {
  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
}

/* Background for tietoa.html */
#tietoabody {
  background: url("src/urhoback2.png") no-repeat right fixed;
  background-size: contain;
}


/* Background for yhteys.html */
#yhteysbody {
    background: url("src/urhoback2.png") no-repeat right fixed;
    background-size: contain;
}
/* Making sure yhteys.html footer stays at bottom */
#yhteys {
  min-height: 75rem;
  padding-top: 4.5rem;
}
/* Google Map */
.mapouter {
  text-align: right;
  height: 300px;
  width: 400px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 400px;
}

/* Footer */
footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: rgba(226, 226, 226, 1);
}

footer p {
  margin-bottom: .25rem;
}
